/* Add styling for the map */
html,
body {
  padding: 0;
  margin: 0;
}
#map,
body,
html {
height: 100%;
}
.info.legend {
  background-color: white;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #555;
  font-weight: bold;
  }
.info.legend i {
width: 18px;
height: 18px; margin-right: 10px;
display: inline-block; 
 }